*,
::before,
::after {
  box-sizing: border-box;
}

/* Reset Margins*/
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure {
  margin: 0;
}

/* Make form elements easier to work with*/
button,
input,
select,
textarea {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-list-wrapper {
  background-color: #fff;
  padding: 0.8em;
  width: 35%;
  min-height: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
